<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ClientId</key>
	<string>z1TbUJ5MlPXcGXiGxBnZq4JU3wDw65cf</string>
	<key>Domain</key>
	<string>dev-m258xzf6bt8lj3yp.us.auth0.com</string>
</dict>
</plist>
